<div class="footer">
	<div class="footer-center">
		<dl>
			<dt>关于</dt>
			<dd><a href="">丢品简介</a></dd>
			<dd><a href="">免责申明</a></dd>
			<dd><a href="">反馈意见</a></dd>
		</dl>
		<dl>
			<dt>下载</dt>
			<dd><a href="">ios客户端</a></dd>
			<dd><a href="">Android客户端</a></dd>
			<dd><a href="">移动版本</a></dd>
		</dl>
		<dl>
			<dt>关注</dt>
			<dd class="weixin">
				<a href="" >微信公众号</a>
				<p class="erm_pic"><img src="{$this->mRuntimeThemeUrl}images/erm_pic.jpg" alt="" /></p>
			</dd>
			<dd><a href="">新浪微博</a></dd>
		</dl>
	</div>
	<div class="footer-bottom">
		<p>上海相悦网络科技有限公司copyright(C)2015 All Rights Reserved-沪ICP备14004948号</p>
	</div>
</div>