<!DOCTYPE html>
<html>

	<head>
		<meta property="qc:admins" content="214022765764150166375">
		<meta name="keywords" content="{$this->mSiteCfg['site']['keywords']}" />
		<meta name="description" content="{$this->mSiteCfg['site']['description']}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<link href="{$this->mRuntimeThemeUrl}css/main.css" type="text/css" rel="stylesheet" />
		<link href="{$this->mRuntimeThemeUrl}css/myzii.css" type="text/css" rel="stylesheet" />
		<script src="$this->mRuntimeThemeUrl}js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="$this->mRuntimeThemeUrl}js/jwplayer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(window).scroll(function() {
					var scroTop = $(window).scrollTop();
					var bodyHeight = $(window).height();
					if (scroTop >= bodyHeight) {
						$(".backtop").css('display', 'block');
					} else {
						$(".backtop").css('display', 'none');
					}
				})
			})
		</script>
		<title>丢品网</title>
	</head>

	<body>
		<div class="wraper">
			{layout head}
			<div class="center clearfix">
				<div class="center-left fl">
					<div class="itemBox">
						<!--id,type,time,description,url,nickname,avatar,content_type,share_num,praise_num,
							1视频
							2图片
							3段子
							4gif
						-->
						{tag:Lamb_View_Tag_List sql="@$indexSql@" id="list" is_page='1' pagesize='@$pagesize@' page='@$page@' cache_callback='@$this->mCacheCallback@' cache_time='@$this->mCacheTime@' cache_type='@$this->mCacheType@' empty_str=''}
						<div class="item">
							<div class="item-heading clearfix">
								<div class="author fl clearfix">
									<a href="" class="author-pic"><img src="{field.avatar}" alt="头像" /></a>
									<a href="" class="author-nicname">{field.nickname}</a>
								</div>
								<div class="report fr">
									<a href="">举报</a>
								</div>
							</div>
							<div class="item-body">
								<span class="title">{field.description}</span> {field.content_type function="indexControllor::chechkType(@this,@me['url'])"}
							</div>
							<script type="text/javascript">
								var thePlayer; //保存当前播放器以便操作  
								$(function() {
									var thePlayer = jwplayer('video').setup({
										flashplayer: "",
										file: "",
										width: 500,
										height: 350,
										dock: false
									})
								});
							</script>
							<div class="item-footer clearfix">
								<div class="fankui fl clearfix">
									<a href="" class="zan"><span>{field.praise_num}</span></a>
									<a href="" class="comments"><span>{field.share_num}</span></a>
									<a href="" class="collection"></a>
									<a href="" class="download"></a>
								</div>
								<div class="share fr clearfix">
									<span class="fl" style="text-align: right;">分享到：</span>
									<div class="jiathis_style fr">
										<a class="jiathis_button_qzone"></a>
										<a class="jiathis_button_tsina"></a>
										<a class="jiathis_button_tqq"></a>
										<a class="jiathis_button_weixin"></a>
										<a class="jiathis_button_renren"></a>
										<a class="jiathis_button_xiaoyou"></a>
										<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
										<a class="jiathis_counter_style"></a>
									</div>
									<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
								</div>
							</div>
						</div>
						{/tag:Lamb_View_Tag_List}
					</div>
					{tag:Lamb_View_Tag_Page listid='list'}
					<div class="page clearfix">
						<a href="@$firstPageUrlTemplate@" class="p-first-last">首页</a> {pageitem focus='<a class="current">#page#</a>' nofocus='<a class="p-index" href="@$pageUrlTemplate@">#page#</a>'}
						<a href="@$nextPageUrlTemplate@" class="p-prev-next">&gt;</a>
						<a href="@$lastPageUrlTemplate@" class="p-first-last">尾页</a>
					</div>
					{/tag:Lamb_View_Tag_Page}
				</div>
				<div class="center-right fr">
					<div class="ewm">
						<img src="{$this->mRuntimeThemeUrl}images/qr.png" alt="二维码" />
						<p>扫一扫，手机观看丢品</p>
					</div>
				</div>
			</div>
			<div class="backtop">
				<a href="#" class="gotop"></a>
			</div>
			<!--footer-->
			{layout foot}
		</div>
	</body>
	<script type="text/javascript" src="{$this->mSiteCfg['site']['root']}api/base.js"></script>

</html>